<h2>Hall of Fame</h2>

<% hall_of_fames.each do |hall_of_feedback| %>
<%= hall_of_feedback.content %>
Doability: <%= hall_of_feedback.average_doability %>
Benevolence: <%= hall_of_feedback.average_benevolence %>
Zeroed-Inness: <%= hall_of_feedback.zeroed_inness %>
<% end %>

