@import 'shared';
input:not([type='submit']), textarea {
	border: 3px solid $dbc-gray;
	border-radius: 3px;
}

label{
	color: $dbc-gray;
}

input[type="submit"]{
	border:none;
	background-color: $dbc-gold;
	color: $dbc-brown;
	padding: 10px;
	border-radius: 5px;
}