@font-face{
	font-family: AmsiPro-Bold;
	src: url("AmsiPro-Bold.otf");
}
@import "font-awesome-sprockets";
@import "font-awesome";

$dbc-blue:lightseagreen;
$dbc-gray:lightslategray;
$dbc-font: AmsiPro-Bold;
$dbc-gold: #D4AF37;
$dbc-blue-highlight: #a5e0dd;

.divider-right{
  padding-right: 3px;
  border-right: 1px solid gray;
}

.center{ margin-left:auto;
margin-right:auto;
}

i{
  margin-left: 5px;
}

body{
	font-family: $dbc-font;
}

.dbz{
	color: $dbc-blue;
}


.hidden{
  display:none;
}


a:hover{
	color: $dbc-blue-highlight;
}

.container{
	width: 90%;
	height: 100%;
}

